@mixin horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin margin-auto($max-width) {
	max-width: $max-width;
	margin: 0 auto;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}

@mixin vh($focusable: false) {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	@if $focusable {
		@include vh-focusable;
	}
}

@mixin vh-reset {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

// Allow the element to be focusable when navigated to via the keyboard
@mixin vh-focusable {
	&:active,
	&:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@mixin truncate($max-width, $heightString, $font-size, $line-height-em) {
	max-width: $max-width;
	height: ($font-size * $line-height-em) * $heightString;
	font-size: $font-size;
	line-height: ($line-height-em) + em;
	overflow: hidden;
	text-overflow: ellipsis;
}

@function z($name) {
	@if index($z-indexes, $name) {
		@return (length($z-indexes) - index($z-indexes, $name))+1;
	}

	@else {
		@warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
		@return null;
	}
}

$z-indexes: (
	"login-spiner"
);
