// base color
$color-primary: #3369f3;
$color-grey: #efefef;
$color-dark-grey: #616163;
$color-red: #f00;

// font-family
$ff-primary: "Inter";

// font color
$fc-primary: #1e1e1e;
$fc-secondary: #999;
$fc-white: #fff;

// background color
$bg-grey: #efefef;
$bg-light-blue: #e4edfd;

// font weight
$fw-primay: 500;
$fw-larger: 600;
