.auth-field__container {
	position: relative;
	margin-bottom: 15px;
	padding: 7px 0;

	border-bottom: 1px solid $color-primary;
}

.auth-form__field {
	width: 100%;
	padding: 0;

	border: none;
	outline: none;
	font-size: 13px;
	line-height: 1em;
}

.auth-field__label {
	position: absolute;
	top: 0;
	left: 0;

	transition: all 0.3s ease;
	transform: translateY(80%);
	font-size: 13px;
	line-height: 1em;
	color: $fc-secondary;
	pointer-events: none;
}
.auth-form__field:focus + .auth-field__label {
	transform: translateY(0%);
	font-size: 9px;
}

.auth-form__field:not(:placeholder-shown) + .auth-field__label {
	transform: translateY(0%);
	font-size: 9px;
}