.error__container {
	height: 100vh;
}

.error__tittle {
	margin-bottom: 20px;
	font-size: 40px;
}

.error__sub-tittle {
	margin-bottom: 70px;
	font-size: 20px;
}

.error__link {
	color: #3369f3;
	font-size: 11px;
}
