.profile-avatar {
	position: relative;
	overflow: hidden;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: 0 auto 20px;
}

.profile-avatar__img {
	height: 100%;
	background-color: $bg-grey;
}

.profile-avatar::after {
	position: absolute;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	padding: 0 30px;
	background-color: #00000068;
	color: $fc-white;
	content: "Поменять аватар";
	font-size: 13px;
	text-align: center;
}

.profile-avatar:hover {
	cursor: pointer;

	&::after {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.btn-change-avatar {
	width: 100%;
}
