// base color
$color-primary: #3369F3;
$color-grey: #EFEFEF;
$color-dark-grey: #616163;
$color-red: #FF0000;

// font-family
$ff-primary: 'Inter';

// font color
$fc-primary: #1E1E1E;
$fc-secondary: #999999;
$fc-white: #FFFFFF;

// background color
$bg-grey: #EFEFEF;
$bg-light-blue: #E4EDFD;

// font weight
$fw-primay: 500;
$fw-larger: 600;
