---
linkCss: ['../styles/common.scss', './login.scss']
linkJs: ['./login.js']
---

<!DOCTYPE html>
<html lang="ru">
{{> header titlePage='Авторизация' pathFileCss=linkCss pathFileJs=linkJs }}
<body>

<div id="root">

	<main class="main fx-c-c">
		<div class="modal-pages">
			<nav class="modal-pages__nav">
				<ul class="modal-pages__list">
					<li class="modal-pages__item">
						<a href="./error/error.hbs#404" class="modal-pages__link">Ошибка 404</a>
					</li>
					<li class="modal-pages__item">
						<a href="./error/error.hbs#500" class="modal-pages__link">Ошибка 500</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="auth-container fx-col">

			<h2 class="auth-header">Вход</h2>

			<form action="#" id="form-auth" class="auth-form fx-col fx-space">
				<div class="auth-field__list" id="auth-field__list">

				</div>

				<div class="auth-btn__container fx-col" id="auth-btn__container">

					<a href="#" id="btnRegistry" class="btn-registry btn">Нет аккаунта?</a>

				</div>
			</form>
		</div>
	</main>
</div>

</body>
</html>
