---
linkCss: ['../../styles/common.scss', './chat.scss']
linkJs: ['./chat.js']
---

<!DOCTYPE html>
<html lang="en">
{{> header titlePage='Добро пожаловать' pathFileCss=linkCss pathFileJs=linkJs}}

<body>
	<div class="chat__container">
		<aside class="chat__sidebar">
			<ul class="services__container fx">

			</ul>

			<div class="search__container">

			</div>

			<ul class="chat__list">

			</ul>
		</aside>

		<main class="chat__main chat-plug">
			<span class="chat-plug__text">Выберите чат чтобы отправить сообщение</span>

		</main>
	</div>
</body>

</html>
