---
linkCss: ['../../styles/common.scss', './chat.scss']
linkJs: ['./chat.js']
---

<!DOCTYPE html>
<html lang="en">
{{> header titlePage='Добро пожаловать' pathFileCss=linkCss pathFileJs=linkJs}}

<body>
	<div class="chat__container">
		<aside class="chat__sidebar">
			<ul class="services__container fx">
				
			</ul>

			<div class="search__container">

			</div>

			<ul class="chat__list">
				{{!-- <li class="chat-info chat__item">
					<div class="chat-info__avatar">
						<img src="#" alt="">
					</div>

					<div class="chat-info__description">
						<div class="chat-info__user-name">Вадим</div>
						<div class="chat-info__last-message">Друзья, у меня для вас особенный выпуск новостей! Привет Влад!</div>
					</div>

					<div class="chat-info__time-count fx-col fx-space">
						<time class="chat-info__time_message" datetime="2014-09-28 19:00">21:33</time>
						<span class="chat-info__count-message fx fx-c-c">4</span>
					</div>
				</li> --}}
				
			</ul>
		</aside>

		<main class="chat__main"></main>
	</div>
</body>

</html>