.chat-setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: $fc-white;
}

.chat-setting__user-description {
	display: flex;
	align-items: center;
}

.chat-setting__avatar {
	width: 34px;
	height: 34px;
	margin-right: 10px;
	background-color: $bg-grey;
	border-radius: 50%;
}

.chat-setting__chat-name {
	font-size: 13px;
	color: $fc-primary;
	font-weight: $fw-larger;
}

.chat-setting__all {
	display: flex;
	flex-direction: column;
	gap: 3px;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;

	span {
		display: block;
		width: 3px;
		height: 3px;
		background-color: $color-primary;
		border-radius: 50%;
	}

	&:hover {
		background-color: $bg-grey;
		cursor: pointer;
	}
}