---
linkCss: ['../../styles/common.scss', './profile.scss']
linkJs: ['./profile.js']
---

<!DOCTYPE html>
<html lang="ru">
{{> header titlePage='Настройка профиля' pathFileCss=linkCss pathFileJs=linkJs}}

<body>
	<main class="main">
		<div class="back-chats fx fx-c-c">
			<a href="../chat/chat.hbs" class="back-chats__btn btn">
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)" fill="#3369F3" />
					<rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white" />
					<path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6" />
				</svg>
			</a>
		</div>

		<div class="profile fx-c-c fx-col">
			<div class="profile-avatar__container"></div>

			<div class="profile-info">
				
			</div>
		<div class="profile-setting">
				
				<div class="profile-setting__container">
					<a class="profile-setting__btn btn-logout btn" href="../index.hbs">Выйти</a>
				</div>
		</div>
	</main>
</body>

</html>