@import "./components/chat_info/chatInfo";
@import "./components//search_chat/searchChat";
@import "./components/application_features/application_features";
@import "./components/add_chat/addChat";

.chat__sidebar {
	height: 100%;
	overflow-x: hidden; // Нужно ли это здесь?
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 5px;
		background-color: $bg-light-blue;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 9em;
		background-color: #1f283c;
		box-shadow: inset 1px 1px 10px #f3faf7;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #0c0d10;
	}
}
