---
linkCss: ['../../styles/common.scss', './error.scss']
linkJs: ['./error.js']
---

<!DOCTYPE html>
<html lang="en">
{{> header titlePage='Ошибка!' pathFileCss=linkCss pathFileJs=linkJs}}
<body>
	<div id="root"></div>
</body>
</html>