.history-messages {
	display: flex;
	flex-direction: column-reverse;
	flex-grow: 1;
	overflow-y: auto;
}

.history-messages__container {
	display: flex;
	padding-left: 20px;
	margin-bottom: 10px;
	gap: 5px;
}
